/* 
	maroon: #800000;
	lite-maroon: #d8b2b2;
	green: #0080000;
	lite-green: #b2d8b2;
	yellow: rgb(242, 189, 11); || #f2bd0b;
	lite-yellow: #fbebb5;
	very-lite-yellow: #fffffa;
	dark-gray: #333;
 */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*
{
	font-size: 1.1rem;
	border: 0;
	padding: 0;
	box-sizing: border-box;
  color: #800000;
  background-color: #fffffa;
}

body
{
	font-family: 'Quicksand', sans-serif;
	background-size: cover;
	margin: 0;
  background-color: #fffffa;
}

.container
{
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	/* justify-content: space-between; */
	flex: 1;
}

nav
{
  background-color: #f7fbf7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 50px;
  text-align: center;
  display: flex;
}

nav a
{
  text-decoration: none;
  font-size: 1.1rem;
  color: #800000; 
  transition: all 0.2s;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

nav a:hover
{
  background: #800000;
  color: white;
}

.active
{
  border-bottom: 3px solid #008000;
  padding-top: 3px;
  color: #008000;
}

main
{
  /*height: calc(100vh - 150px);	/* 50px nav + 50px header + 50px footer */
	min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
	/* min-height: 480px; */
	flex: 4;
	margin-bottom: 20px;
}

header, header *
{
	font-size: 2rem;
	margin-top: 30px;
	/* height: 20px; */
}

a
{
	color: #800000;
	text-decoration: none;
}

a:hover
{
	color: #008000;
}

small, small *
{
	font-size: 0.8rem;
}

.box.flex
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.card
{
	margin-top: 40px;
	width: 344px;/*320px;*/
	border: solid 1px #f2f2f2;
	border-radius: 12px;
	box-shadow: 1px 1px rgba(0, 128, 0, 0.8);
	padding: 20px;
}

.card, .card *
{
	background-color: #800000;
	color: #fbebb5;
}

.card.box.flex > *
{
	flex-basis: 100%;
}

.card-header
{
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	padding-bottom: 25px;
}

.card a:hover
{
	color: #fffffa;
}

.dashboard
{
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex: 1;
}

.form-input
{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #fffffa;
	color: #800000;
}

.form-input-sm
{
	width: 90%;
	border-color: #800000;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 0.9rem;
	color: #008000;
	text-align: center;
}

.form-input-sm:focus
{
	outline: none !important;
	border: solid 1px #008000;
	background-color: #fbebb5;
}

.form-input-sm::selection
{
	/* background: #fbebb5; */
	background: #b2d8b2;
}

.btn
{
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 1px 1px rgba(242, 242, 242, 0.2);
	margin-bottom: 10px;
}

.btn-sm
{
	font-size: 0.9rem;
}

.btn-xs
{
	font-size: 0.7rem;
	padding: 5px 10px;
}

.btn-primary
{
	background-color: #800000;
	color: #f2f2f2;
}

.btn-primary:hover
{
	background-color: #008000;
	color: #fffffa;
	transition: background-color 300ms linear;
}

.btn-secondary
{
	background-color: #008000;
	color: #f2f2f2;
}

.btn-secondary:hover
{
	background-color: #f2bd0b;
	color: #800000;
	transition: background-color 300ms linear;
}

.btn-muted
{
	opacity: 0.5;
}

.btn-login, .btn-register
{
	margin-top: 20px;
}

.table
{
	border: 0;
	border-collapse: separate;
	border-spacing: 0 5px;
	margin-top: 30px;
	width: 100%;
	flex: 4;
}

.table *
{
	font-size: 0.9rem;
}

.table thead tr th
{
	border-bottom: solid 1px #f2f2f2;
	color: #333;
	border-collapse: separate;
	border-spacing: 5px 5px;
	padding-bottom: 10px;
}

.table tbody tr td
{
	padding-top: 10px;
}

.text-center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.text-right
{
	text-align: right;
	margin-left: auto;
}

.text-secondary
{
	color: #008000;
}

.text-tertiary
{
	color: #f2bd0b;
}

.text-msg
{
	color: #fffffa;
}

.text-muted
{
	opacity: 0.8;
}

.message-error
{
	margin-bottom: 20px;
}

.hidden
{
	display: none;
}

footer
{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgba(241, 188, 13, 0.25);
}

footer a
{
	font-size: 0.8rem;
}

@media screen and (max-width: 800px)
{
  .dashboard
	{
    width: 98vw;
  }
}